@charset "UTF-8";

body{
    margin: 0;
}
.autor{
    font-style: oblique;
}
.heafoo{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}


section > p{
    padding: 15px;
    width: 200px;
    line-height: 25px;
    text-shadow: 1px 1px 1px black;
}

section{
    padding-top: 15px;
}

.sectexto2{
    height: 329px;
    width: 1366px;
    background: black url('imagens/background001.jpg') center center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 7px 7px 7px rgba(0, 0, 0, 0.582);
}
.texto2, .texto4{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    
}
.sectexto4{
    height: 329px;
    width: 1366px;
    background: black url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 7px 7px 7px rgba(0, 0, 0, 0.582);


}
  
    